<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.hhland.cordova.wx"
        version="1.0.0">
    <name>WechatPlugin</name>
    <description>hhland Cordova Wechat Plugin</description>
    <keywords>cordova,wechat,plugin</keywords>
    <author>newhzh</author>

    <preference name="WECHATAPPID" />

    <js-module src="www/WechatPlugin.js" name="WechatPlugin">
        <clobbers target="WechatPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="WechatPlugin">
                <param name="android-package" value="com.hhland.cordova.wx.ShareWechatPlugin"/>
            </feature>
            <preference name="WECHATAPPID" value="$WECHATAPPID"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name=".wxapi.WXEntryActivity"
                    android:label="@string/launcher_name"
                    android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <data android:scheme="$WECHATAPPID"/>
                </intent-filter>
            </activity>
            <activity
                    android:name=".wxapi.WXPayEntryActivity"
                    android:label="@string/launcher_name"
                    android:exported="true"
                    android:launchMode="singleTop">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <data android:scheme="$WECHATAPPID"/>
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/ShareWechatPlugin.java" target-dir="src/com/hhland/cordova/wx" />
        <source-file src="src/android/WXEntryActivity.java" target-dir="src/com/hhland/whip/wxapi" />
        <source-file src="src/android/WXPayEntryActivity.java" target-dir="src/com/hhland/whip/wxapi" />
        <source-file src="src/android/Util.java" target-dir="src/com/hhland/cordova/wx" />
        <source-file src="src/android/libammsdk.jar" target-dir="libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WechatPlugin">
                <param name="ios-package" value="CDVWechat"/>
            </feature>
            <preference name="WECHATAPPID" value="$WECHATAPPID"/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>weixin</string>
                <string>wechat</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>weixin</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$WECHATAPPID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVWechat.h" />
        <source-file src="src/ios/CDVWechat.m" />

        <!-- Wechat Official -->
        <header-file src="src/ios/WXApi.h" />
        <header-file src="src/ios/WXApiObject.h" />
        <source-file src="src/ios/libWeChatSDK.a" framework="true" />

        <!-- Other required frameworks -->
        <framework src="libz.dylib" />
        <framework src="libsqlite3.0.dylib" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="libstdc++.6.dylib" />
    </platform>

</plugin>